<header>
    <nav class="navbar navbar-expand-md navbar-dark mb-4" id="home">
       <a class="navbar-brand" href="/"><img src="/public/images/home.png" alt="Logo" width="70" height="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
            </ul>
             {{#if login}} 
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            {{else}}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            {{/if}}
        </div>
    </nav>
</header>


{{#if isPost}}  
{{#each post}} 
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-50 col-xl-100 row-md-10 row-lg-50 row-xl-100">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <div id="title"> 
                            <a href="/blogpost/{{this._id}}">
                                <h2 class="post-title">{{this.title}}</h2>
                            </a>
                        </div>
                        <div> 
                            <p class="post-meta" id="date">
                                Posted on {{this.date}}
                            </p>
                        </div>
                        <p class="post-meta text-truncate" id="content-bit" >
                            {{this.content}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <br>
                    <!-- Pager-->
                    {{!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> --}}
                </div>
            </div>
        </div>
        {{/each}}
{{else}}
    <p> Nothing to see here (yet!) </p>
{{/if}} 
